.checkout{
    margin: 2rem auto;

    h1{
        display: block;
        width: 100%;
    }

    h1, p{
        text-align: center;
    }

    .checkoutHeader{
        border-bottom: 1px solid black;
    }

    .cart{
        max-width: 100rem;
        margin: 0 auto;

        table{
            width: 100%;
        }
    }

    .checkoutHeader,
    .cart {
        width: 100%;
        text-align: left;
    
        th,
        td {
            width: 22%;
        }
    }

    .cartItem {
        td img{
            display: block;
            
        }

        .ci-thumb{
            height: 12rem;
            background: #f5f5f5;

            img{
                max-height: 100%;
                max-width: 100%;
                margin: auto;
            }
        }
    }

    .cartBtn{
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .linkButton{
        color: white;
    }
}

@media only screen and (max-width: 980px) {

    .checkoutHeader {
      display: none;
    }
  
    .cartItem {
      border: 1px solid black;
    }
  
    .checkout .cart td {
      display: block;
      width: 100%;
    }
  
    .checkout .cartBtn.remove {
      display: block;
      width: 100%;
      padding: 1.0rem;
      background-color: black;
      color: white;
    }
  }